report name: {{metric.name}} <br/>
report items:{{metric.fixed_items}} <br/>
report formular:{{metric.formular}} <br/>

<table border="1">
{% for item in table%}
	{% if forloop.counter == 1%}
		<tr>
		{% for data in item %}
			<th>{{data}}</th>
		{% endfor%}
		</tr>
	{% else %}
		<tr>
		{% for data in item %}
			<td>
				{% if forloop.counter == 1 %}
					{{data}}
				{% else %}
					{% if data|floatformat < 0.001 %}
						-
					{% else %}
						{{data|floatformat:2}}
					{% endif %}
				{% endif %}
			</td>
		{% endfor%}
		</tr>
	{% endif%}
{% endfor%}
</table>


report values: {{metric.value_items}} <br/>
