<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	classpath:/org/springframework/transaction/config/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	classpath:/org/springframework/aop/config/spring-aop-3.0.xsd">
	
	<tx:advice id="txAdvice" transaction-manager="TransactionManager">
		<!-- the transactional semantics... --> 
		<tx:attributes>
			<!-- all methods starting with 'get' are read-only -->
			<tx:method name="get*" read-only="true"/>
			<!-- other methods use the default transaction settings (see below) -->
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	 
	<!-- ensure that the above transactional advice runs for any execution
	of an operation defined by the FooService interface -->
	<aop:config>
		<aop:pointcut id="serviceOperation" expression="execution(* com.bz.ebs.server.domain.service..*Service.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
	</aop:config>
	
	<bean id="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor">
		<property name="sessionFactory">
			<ref bean="SessionFactory" />
		</property>
	</bean>
	
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager"><ref bean="TransactionManager"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>     
				<prop key="add*">PROPAGATION_REQUIRED</prop>     
				<prop key="set*">PROPAGATION_REQUIRED</prop>     
				<prop key="update*">PROPAGATION_REQUIRED</prop>     
				<prop key="delete*">PROPAGATION_REQUIRED</prop>     
				<prop key="remove">PROPAGATION_REQUIRED</prop>             
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>     
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>   
			</props>
		</property>
	</bean>
</beans>